@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    color: #b48ead;
}

h1:before {
    content: '# ';
}

h2 {
    color: #a3be8c;
}

h2:before {
    content: '## ';
}

h3 {
    color: #88c0d0;
}

h3:before {
    content: '### ';
}

h4 {
    color: #ebcb8b;
}

h4:before {
    content: '#### ';
}

strong:before {
    content: "**";
}

strong:after {
    content: "**";
}

em:before {
    content: "_";
}

em:after {
    content: "_";
}

code {
    background-color: #465780;
}

code:before {
    content: "`";
}

code:after {
    content: "`";
}

ul li:before {
    content: "•";
    text-align: right;
    padding-right: 0.5em;
    color: #81a1c1;
    display: inline-block;
    width: 1em;
}

ul li li:before {
    content: "◦";
    text-align: right;
    padding-right: 0.5em;
    color: #81a1c1;
    display: inline-block;
    width: 2em;
}

