@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-purple font-bold;
}

h1:before {
    content: '# ';
}

h2 {
    @apply text-green font-bold;
}

h2:before {
    content: '## ';
}

h3 {
    @apply text-blue font-bold;
}

h3:before {
    content: '### ';
}

h4 {
    @apply text-yellow font-bold;
}

#resume h4 {
    @apply text-orange font-bold;
}

h4:before {
    content: '#### ';
}

strong:before {
    content: "**";
}

strong:after {
    content: "**";
}

em:before {
    content: "_";
}

em:after {
    content: "_";
}

code {
    @apply bg-brightBlack;
}

code:before {
    content: "`";
}

code:after {
    content: "`";
}

ul li:before {
    @apply text-blue;
    content: "•";
    text-align: right;
    padding-right: 0.5em;
    display: inline-block;
    width: 1em;
}

ul li li:before {
    @apply text-blue;
    content: "◦";
    text-align: right;
    padding-right: 0.5em;
    display: inline-block;
    width: 2em;
}

.extra-bluesky:before {
    transform: translateY(1px);
}
